{% extends 'base.html.twig' %}
{% block title %}Créer une chirurgie{% endblock %}
{# Bloc principal du contenu de la page #} {%
block body %} {# Titre dynamique : - "Créer" si la chirurgie n'a pas encore d'id
- "Modifier" si la chirurgie existe déjà #}
<h1>{{ chirurgie.id ? "Modifier" : "Créer" }} une chirurgie</h1>

{# Début du formulaire Symfony (ouvre la balise
<form>
    , ajoute le token CSRF, etc.) #}
    {{ form_start(form) }}

    {# Affiche automatiquement tous les champs définis dans ChirurgieType #}
    {{ form_widget(form) }}

    {# Bouton de soumission du formulaire #}
    <button>Enregistrer</button>

    {# Fin du formulaire Symfony (ferme la balise
    <form>
        ) #}
        {{ form_end(form) }}

        {# Lien de retour vers la liste des chirurgies #}
        <a href="{{ path('chirurgie_index') }}">⬅ Retour</a>
    </form>
</form>
{% endblock %}
