{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ chirurgie.id ? 'Modifier' : 'Créer' }} une chirurgie</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('chirurgie_index') }}">⬅ Retour</a>
{% endblock %}
